@font-face {}

/* COMMON STYLES 
  -------------------------------- */
	
	/* LAYOUT */
		/* {position:absolute;} */
		/* {position:relative;} */
		/* {float:left;} */
		/* {float:right;} */
		/* {overflow:hidden;} */
		/* {display:block;} */
		/* {display:inline;} */
		/* {display:none;} */
		/* {margin:0} */
		/* {padding:0;} */
		/* {width:100%;} */
	
	/* TYPOGRAPHY */
		/* {line-height:1;} */
		/* {list-style-type:none;} */
		/* {font-size:1em;} */
		/* {font-style:italic;} */
		/* {font-style:normal;} */
		/* {font-weight:bold;} */
		/* {font-weight:normal;} */
		/* {text-align:center;} */
		/* {text-align:right;} */
		/* {text-align:left;} */
		/* {text-decoration:underline;} */
		/* {text-decoration:none;} */
		/* {text-transform:uppercase;} */
		/* {text-transform:none;} */
	
	/* COLOR */
		/* {background-color: #fff;} */
		/* {background-color: transparent;} */
		/* {border: 1px solid #000;} */
		/* {border: none;} */
		/* {color: #000;} */
		/* {border-radius: 0px;} */
		/* {transition: all 0.3s ease-in-out;} */
		

/* BASE 
	-------------------------------- */
	body{
        margin:0px;
    }
	::selection, ::moz-selection{}

	.wrapper{
        margin:auto;
        width:60%;
        padding:10px;
    }


/* HEADER
	-------------------------------- */
	.site-header{
        height:50px;
        background-color: aquamarine;
        width:100%;
        border-bottom:2px solid #000;
    }


/* FOOTER
	-------------------------------- */
	.site-footer{}
	

/* CONTENT
	-------------------------------- */
	.site-content{}

	/* LAYOUT */
	
	/* BASIC ELEMENTS */
		div{}
		p{
            margin-bottom:5px;
        }
		blockquote{}
		code{}
		img{}
		a{}
		em{}
		strong{}
		pre{}
	
	/* HEADINGS */
		h1{}
		h2{
            margin-bottom:30px;
            font-size: 30px;
            text-transform: uppercase;
        }
		h3{
            margin-bottom: 10px;
            font-size:20px;
            text-decoration: underline;
        }
		h4{}
		h5{}
		h6{}
	
	/* FORMS & BUTTONS */
		form{}
		fieldset{}
		legend{}
		label{}
		input{}
		textarea{}
		select{}
	
	/* TABLES */
		table{}
		caption{}
		tr{}
		thead{}
		th{}
		tbody{}
		td{}
		tfoot{}
	
	/* LISTS */
		dl{}
		dt{}
		dd{}
		ol{}
		ol li{}
		ul{}
		ul li{}
	
	/* … */